@import "_header";

body {
    font-size: 20px;
    div {
        font-size: 10px;
        color: green;
        font-size: 30px;
    }
}
li {
    color: red;
    background: #000;
    font-size: 40px;
}
